---
import CartIsland from "./islands/CartIsland.jsx";
---

<div class="Carrito">
  <div class="Carrito-header">
    <div class="cross">
      <span></span>
      <span></span>
    </div>
  </div>

  <CartIsland client:load />
</div>
