---
import TIcketItems from "./TIcketItems.astro";
import TicketStatusIsland from "./islands/TicketStatusIsland.jsx";

const { id, estado } = Astro.props;
---

<div class="ticket">
  <h2>Ticket de la mesa <span class="id">{id}</span></h2>
  <div class="ticket-items">
    <table>
      <tr>
        <th>Plato</th>
        <th>Cantidad</th>
      </tr>
      <TIcketItems name="" amount="" />
    </table>
  </div>
  <div class="ticket-status">
    <select>
      <TicketStatusIsland client:load id={id} estado={estado} />
    </select>
  </div>
</div>
